{% extends 'SimpleBookStore/layout.html' %}
{% load SimpleBookStore_tags %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <div class="ui segments">
        <div class="ui segment">
            <div class="ui breadcrumb">
                <a class="section" href="{% url 'SimpleBookStore:index' %}"><i class="home icon"></i> Home</a>
                <div class="divider"> /</div>
                <a class="section"
                   href="{% url 'SimpleBookStore:category' book.category.id %}">{{ book.category.title }}</a>
            </div>
        </div>
        <div class="ui blue segment">
            <div class="ui divided items">
                <div class="item book-item">
                    <div class="image">
                        <img src="{{ book.cover.url }}">
                    </div>
                    <div class="content">
                        <div class="ui huge header">{{ book.title }}</div>
                        <div class="meta">
                            <span>
                                <a href="{% url 'SimpleBookStore:author' book.author.id %}">
                                <img class="ui avatar image"
                                     src="{{ book.author.photo_url }}"> {{ book.author.name }}
                                </a>
                            </span>

                            {% if request.user.is_authenticated %}
                                <button class="ui mini primary button toggle-follow" data-model="author"
                                        data-id="{{ book.author.id }}"
                                        data-status="{% following_status book.author.id profile_authors %}"
                                        data-do="Follow"
                                        data-undo="Unfollow"></button>
                            {% endif %}
                            Rate :
                            <div class="ui star rating" data-rating="{{ book.rating }}" data-id="{{ book.id }}"></div>
                        </div>
                        <div class="description">
                            {{ book.description |linebreaks }}
                        </div>
                        <div class="extra">
                            <div class="ui small toggle buttons book-actions" data-id="{{ book.id }}"
                                 data-status="{{ user_status }}">
                                <button class="ui toggle button" data-action="3">Read</button>
                                <button class="ui toggle button" data-action="2">Currently Reading</button>
                                <button class="ui toggle button" data-action="1">Want to Read</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

