{% extends 'SimpleBookStore/wrapper.html' %}
{% load SimpleBookStore_tags %}

{% block body %}

    <div class="ui attached stackable menu">
        <div class="ui container">
            <a href="{% url "SimpleBookStore:index" %}" class="header item">
                Simple Book Store
            </a>
            <div class="right item">
                <form action="{% url "SimpleBookStore:search" %}">
                    <div class="ui input">
                        <input type="text" name="query" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="ui sixteen column doubling stackable grid main container">
        <div class="eleven wide column">
            {% block content %}{% endblock %}
        </div>
        <div class="five wide column">
            {% if request.user.is_authenticated %}
                <div class="ui segments">
                    <div class="ui segment">
                        Welcome, <strong>{{ request.user.username }}</strong>
                    </div>
                    <div class="ui blue segment user-info">
                        <div class="ui very horizontal divided list">
                            <div class="item">
                                <i class="heartbeat icon"></i>
                                <div class="content">
                                    <a href="{% url "SimpleBookStore:user-books" 1 %}">
                                        <span class="header">{{ profile_books.1 }}</span>
                                        Wish
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="comment icon"></i>
                                <div class="content">
                                    <a href="{% url "SimpleBookStore:user-books" 2 %}">
                                        <span class="header">{{ profile_books.2 }}</span>
                                        Reading
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <i class="calendar icon"></i>
                                <div class="content">
                                    <a href="{% url "SimpleBookStore:user-books" 3 %}">
                                        <span class="header">{{ profile_books.3 }}</span>
                                        Read
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ui segment">
                        <div class="ui list">
                            {% for notification in notifications %}
                                <div class="item">
                                    <img class="ui avatar image" src="{{ notification.book.cover.url }}">
                                    <div class="content">
                                        <a class="header">{{ notification.book.title }}</a>
                                        <div class="description">{{ notification.book.author.name }} Add A New Book</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="{% url "SimpleBookStore:logout" %}"><i class="sign out icon"></i> Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="ui segments">
                    <div class="ui segment">
                        Hello
                    </div>

                    <div class="ui blue segment">
                        <a href="{% url "SimpleBookStore:login" %}"><i class="sign in icon"></i> Sign In</a>
                    </div>
                    <div class="ui segment">
                        <a href="{% url "SimpleBookStore:register" %}"><i class="user icon"></i> Sign Up</a>
                    </div>
                </div>
            {% endif %}

            <div class="ui segments">
                <div class="ui segment">
                    Categories
                </div>
                <div class="ui blue segment">
                    <div class="ui middle aligned divided list">
                        {% for category in categories %}
                            <div class="item">
                                {% if request.user.is_authenticated %}
                                    <div class="right floated content">
                                        <button class="ui mini primary button toggle-follow" data-model="category"
                                                data-id="{{ category.id }}"
                                                data-status="{% following_status category.id profile_categories %}"
                                                data-do="Follow" data-undo="Unfollow"></button>
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <a href="{% url 'SimpleBookStore:category' category.id %}">
                                        <i class="clone icon"></i> {{ category.title }}
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}