{% extends 'SimpleBookStore/wrapper.html' %}
{% load SimpleBookStore_tags %}

{% block body %}

    <div class="ui attached stackable menu">
        <div class="ui container">
            <a href="#" class="header item">
                Simple Book Store
            </a>
            <a class="item" href="{% url "SimpleBookStore:index" %}">
                <i class="home icon"></i> Home
            </a>
            <div class="right item">
                <div class="ui input"><input type="text" placeholder="Search..."></div>
            </div>
        </div>
    </div>

    <div class="ui sixteen column doubling stackable grid main container">
        <div class="eleven wide column">
            {% block content %}{% endblock %}
        </div>
        <div class="five wide column">
            {% if request.user.is_authenticated %}
                <div class="ui segments">
                    <div class="ui segment">
                        {{ request.user.username }}
                    </div>
                    <div class="ui blue segment">
                        <div class="ui large horizontal divided list">
                            <div class="item">
                                <div class="content">
                                    <div class="header">Helen</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header">Christian</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <div class="header">Daniel</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ui segment">
                        <a href="{% url "SimpleBookStore:logout" %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="ui segments">
                    <div class="ui segment">
                        Hello
                    </div>
                    <div class="ui blue segment">
                        <a href="{% url "SimpleBookStore:register" %}">Sign Up</a>
                    </div>
                    <div class="ui segment">
                        <a href="{% url "SimpleBookStore:login" %}">Login</a>
                    </div>
                </div>
            {% endif %}

            <div class="ui segments">
                <div class="ui segment">
                    Categories
                </div>
                <div class="ui orange segment">
                    <div class="ui middle aligned divided list">
                        {% for category in categories %}
                            <div class="item">
                                {% if request.user.is_authenticated %}
                                    <div class="right floated content">
                                        <button class="ui mini button toggle-follow" data-model="category" data-id="{{ category.id }}" data-status="{% following_status category.id  profile_categories %}" data-do="Follow" data-undo="Unfollow"></button>
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <a href="{% url 'SimpleBookStore:category' category.id %}">{{ category.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}