{% extends 'SimpleBookStore/wrapper.html' %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid">
      <div class="column center-column">
        <h2 class="ui teal image header">
          <div class="content">
            Log-in to your account
          </div>
        </h2>
        <form class="ui large form error" method="post" action="{% url "SimpleBookStore:login" %}">
         {% csrf_token %}
          <div class="ui stacked segment">
            {% if messages %}
              <div class="ui error message">
                <div class="header">We had some issues</div>
                <ul class="list">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
            {% endif %}
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="UserName">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" placeholder="Password">
              </div>
            </div>
            <button type="submit" class="ui fluid large teal submit button">Login</button>
          </div>
        </form>

        <div class="ui message">
          New to us? <a href="{% url "SimpleBookStore:register" %}">Sign Up</a>
        </div>
      </div>
    </div>
{% endblock %}